.main-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.action{
    margin: 10px;
    cursor: pointer;
}

.type{
    color: #1DCE00;
    font-weight: 600;
}

