.warehouse-main {
    padding: 30px;
    margin-left: 200px;
    z-index: 2;

    .warehouse-title {
        display: flex;
        justify-content: space-between;

        .title-text {
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #1E1E1E;
        }

        .title-button {
            width: 200px;
            background: #1DCE00;
            border-radius: 10px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
        }

        .title-button:hover {
            border-color: #3AED1D;
            background-color: #3AED1D;
        }
    }

    .warehouse-table {
        .default-button {
            height: 32px;
            border-radius: 10px;
            border: 1.5px solid #1dce00;

            .default-button-icon {
                width: 20px;
                height: 20px;
                align-self: center;

                .icon-default {
                    margin-bottom: 10px;
                }
            }

            .default-button-text {
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #1dce00;
            }

        }

        .MuiTableHead-root {
            background-color: #CCFFC1;

            .MuiTableCell-root {
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
        }

        .MuiTableBody-root {
            .MuiTableRow-root {
                height: 55px;
                cursor: pointer;

                .MuiTableCell-root {
                    border: none;
                }
            }

            .MuiTableRow-root:hover {
                background-color: #eeffea;
            }
        }

    }
}

@media (max-width: 1200px) {
    .warehouse-main {

        .warehouse-title {

            .title-text {
                font-size: 20px;
            }
        }

        .warehouse-table {
            .MuiTableHead-root {
                .MuiTableCell-root {
                    font-size: 15px;
                }
            }

            .MuiTableBody-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        font-size: 13px;
                    }
                }
            }

            .default-button {
                .default-button-text {
                    font-size: 14px;
                }
            }

        }
    }
}

@media (max-width: 1000px) {
    .warehouse-main {

        .warehouse-title {

            .title-text {
                font-size: 20px;
            }
        }

        .warehouse-table {
            .MuiTableHead-root {
                .MuiTableCell-root {
                    font-size: 14px;
                }

                .MuiTableCell-root:last-child {
                    width: 130px !important;
                }
            }

            .MuiTableBody-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        font-size: 12px;
                    }
                }
            }

            .default-button {
                .default-button-text {
                    font-size: 12px;
                }
            }

        }
    }
}

@media (max-width: 900px) {
    .warehouse-main {
        margin: 0;

        .warehouse-title {

            .title-text {
                font-size: 24px;
            }
        }

        .warehouse-table {
            .MuiTableHead-root {
                .MuiTableCell-root {
                    font-size: 16px;
                }

                .MuiTableCell-root:last-child {
                    width: 150px !important;
                }
            }

            .MuiTableBody-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        font-size: 14px;
                    }
                }
            }

            .default-button {
                .default-button-text {
                    font-size: 14px;
                }
            }

        }
    }
}

@media (max-width: 700px) {
    .warehouse-main {
        .warehouse-title {

            .title-text {
                font-size: 24px;
            }
        }

        .warehouse-table {
            .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
                .css-rqglhn-MuiTable-root {
                    width: 650px;
                    .MuiTableHead-root {
                        .MuiTableCell-root {
                            font-size: 14px;
                        }
    
                        .MuiTableCell-root:last-child {}
                    }
    
                    .MuiTableBody-root {
                        .MuiTableRow-root {
                            .MuiTableCell-root {
                                font-size: 12px;
                            }
                        }
                    }
    
                    .default-button {
                        .default-button-text {
                            font-size: 12px;
                        }
                    }
                }

            }

        }
    }
}